<div class="row">
    {% for product in products %}
        <div class="col-md-4">
            <figure class="card card-product-grid">
                <div class="img-wrap">
                    <a href="{% url 'store:product_detail' product.category.slug product.slug %}" class="img-wrap">
                        <img src="{{ product.images.url }}" alt="{{ product.product_name }}">
                    </a>
                </div> <!-- img-wrap.// -->
                <figcaption class="info-wrap">
                    <div class="fix-height">
                        <a href="{% url 'store:product_detail' product.category.slug product.slug %}"
                           class="title">{{ product.product_name }}</a>
                        {% if product.stock > 0 %}
                        <div class="price-wrap mt-2">
                            <span class="price">$ {{ product.price|floatformat:'2g' }}</span>
{#                            <del class="price-old">$1980</del>#}
                        </div> <!-- price-wrap.// -->
                        {% endif %}
                    </div>
{#                    {% if product.stock > 0 %}#}
{#                        {% if product in products_in_cart %}#}
{#                            <a href="{% url 'store:product_detail' product.category.slug product.slug %}"#}
{#                               class="btn btn-block btn-success disabled"> <span class="text">#}
{#                                    Added to Cart#}
{#                                </span>#}
{#                            </a>#}
{#                        {% else %}#}
{#                            <a href="{% url 'cart:add_cart' product.id %}"#}
{#                               class="btn btn-block btn-primary">#}
{#                                Add to Cart#}
{#                            </a>#}
{#                        {% endif %}#}
{#                    {% else %}#}
{#                        <h5 class="text-muted text-center">Out of Stock</h5>#}
{#                    {% endif %}#}
                </figcaption>
            </figure>
        </div> <!-- col.// -->

    {% endfor %}

</div> <!-- row end.// -->
