/greatkart_project/secret_key.py
/db.sqlite3
/.idea/.gitignore
/.idea/greatkart_project.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
