{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- ========================= SECTION PAGETOP ========================= -->
<section class="section-pagetop bg">
<div class="container">
	<h2 class="title-page">Our Store</h2>
	
</div> <!-- container //  -->
</section>
<!-- ========================= SECTION INTRO END// ========================= -->

<!-- ========================= SECTION CONTENT ========================= -->
{% include 'includes/product-list-content.html' %}
<!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock %}

{#<!-- ========================= FOOTER ========================= -->#}
{#<footer class="section-footer border-top padding-y">#}
{#	<div class="container">#}
{#		<p class="float-md-right"> #}
{#			&copy Copyright 2019 All rights reserved#}
{#		</p>#}
{#		<p>#}
{#			<a href="#">Terms and conditions</a>#}
{#		</p>#}
{#	</div><!-- //container -->#}
{#</footer>#}
{#<!-- ========================= FOOTER END // ========================= -->#}
