container_commands:
  01_migrate:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py migrate"
    leader_only: true
  02_createsuperuser:
    command: "source /var/app/venv/*/bin/activate && echo \"from accounts.models import Account; Account.objects.create_superuser('Rivka', 'Levit', 'adminuser', 'rivka.developer@gmail.com', 'a6F85SbF2QN525')\" | python manage.py shell"
    leader_only: true
option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: greatkart_project.settings