{% extends 'base.html' %}

{% block content %}
<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y bg min-vh-100">

    {% include 'accounts/includes/alerts.html' %}

<div class="container">
	<div class="row">

	    {% include 'accounts/includes/sidebar.html' %}

	<main class="col-md-9">
		<article class="card">
		<header class="card-header">
			<strong class="d-inline-block mr-3">Change Your Password</strong>
		</header>
		<div class="card-body">
            <div class="row">
                <div class="col-md-6 offset-md-3 justify-content-center">
                    <form action="{% url 'accounts:change_password' %}" method="post">
                        {% csrf_token %}
                        <div class="mb-4">
                            <label for="current_password">Current Password: </label>
                            <input type="password" id="current_password"
                                   name="current_password" class="form-control" required>
                        </div>
                        <div class="mb-4">
                            <label for="new_password">New Password: </label>
                            <input type="password" id="new_password" name="new_password"
                                   class="form-control" required>
                        </div>
                        <div class="mb-4">
                            <label for="confirm_password">Confirm New Password: </label>
                            <input type="password" id="confirm_password" name="confirm_password"
                                   class="form-control" required>
                        </div>
                        <div class="text-center">
                            <input type="submit" value="Save new Password" class="btn btn-primary" style="min-width: 150px">
                        </div>
                    </form>
                </div>
            </div>

		</div> <!-- card-body .// -->
		</article> <!-- order-group.// -->
	</main>
</div> <!-- row.// -->
</div>


</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
{% endblock %}