{% extends 'base.html' %}

{% block content %}
<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y bg min-vh-100">

    {% include 'accounts/includes/alerts.html' %}

<div class="container">
	<div class="row">

	    {% include 'accounts/includes/sidebar.html' %}

	<main class="col-md-9">
		<article class="card">
		<header class="card-header">
			<strong class="d-inline-block mr-3">Your order history</strong>
		</header>
		<div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th scope="col">Order #</th>
                          <th scope="col">Date</th>
                          <th scope="col">Order Total</th>
                        </tr>
                      </thead>
                      <tbody>
                      {% for order in orders %}

                            <tr>

                              <th scope="row"><a href="{% url 'orders:order_detail' order.id %}">{{ order.order_number }}</a></th>
                              <td>{{ order.created_at|date:'d/m/Y' }} at {{ order.created_at|time:'H:i' }}</td>
                              <td>$ {{ order.total }}</td>

                            </tr>

                      {% endfor %}
                      </tbody>
                    </table>
                </div>
            </div>
		</div> <!-- card-body .// -->
		</article> <!-- order-group.// -->
	</main>
</div> <!-- row.// -->
</div>


</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
{% endblock %}