{% extends 'base.html' %}

{% block content %}
<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y bg">

    {% include 'accounts/includes/alerts.html' %}

<div class="container">
	<div class="row">

	    {% include 'accounts/includes/sidebar.html' %}

	<main class="col-md-9">
		<article class="card">
		<header class="card-header">
			<strong class="d-inline-block mr-3">Your order history</strong>
		</header>
		<div class="card-body">
            <div class="row">
                <div class="col-md-12">

                </div>
            </div>
		</div> <!-- card-body .// -->
		</article> <!-- order-group.// -->
	</main>
</div> <!-- row.// -->
</div>


</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
{% endblock %}