<!-- ========================= FOOTER ========================= -->
<footer class="section-footer border-top pt-3">
	<div class="container">
        <div class="row">
            <div class="col-md-4">
                &copy Copyright 2019 All rights reserved
            </div>
            <div class="offset-6 col-md-2 text-md-right text-muted">
				<i class="fab fa-lg fa-cc-paypal"></i>
            </div>
        </div>
        <br>
	</div><!-- //container -->
</footer>
<!-- ========================= FOOTER END // ========================= -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script>
    $(document).ready(function (){
        $('.thumb a').click(function (e){
            e.preventDefault();
            $('.main-image img').attr('src', $(this).attr('href'));
        })
    })
</script>