<aside class="col-md-3">
		<!--   SIDEBAR   -->
		<div class="list-group">
			<a class="list-group-item active" href="{% url 'accounts:dashboard' %}"> Dashboard </a>
			<a class="list-group-item" href="{% url 'accounts:my_orders' %}"> My Orders </a>
			<a class="list-group-item" href="#"> Edit Profile </a>
			<a class="list-group-item" href="#">Change Password </a>
		</div>
		<br>
		<a class="btn btn-light btn-block" href="{% url 'accounts:logout' %}">
            <i class="fa fa-power-off"></i> <span class="text">Log out</span>
        </a>
		<!--   SIDEBAR .//END   -->
	</aside>