<aside class="col-md-3">
		<!--   SIDEBAR   -->
		<div class="list-group">
			<a class="list-group-item {% if '/dashboard/' in request.path %}active{% endif %}"
               href="{% url 'accounts:dashboard' %}">
                Dashboard
            </a>
			<a class="list-group-item {% if '/my_orders/' in request.path %}active{% endif %}"
               href="{% url 'accounts:my_orders' %}">
                My Orders
            </a>
			<a class="list-group-item {% if '/profile/' in request.path %}active{% endif %}"
               href="{% url 'accounts:profile' %}">
                Edit Profile
            </a>
			<a class="list-group-item {% if '/change_password/' in request.path %}active{% endif %}"
               href="#">
                Change Password
            </a>
        {% if user.is_admin %}
            <a class="list-group-item {% if '/admin/' in request.path %}active{% endif %}"
               href="{% url 'admin:index' %}">
                Admin Panel
            </a>
        {% endif %}
		</div>
		<br>
		<a class="btn btn-light btn-block" href="{% url 'accounts:logout' %}">
            <i class="fa fa-power-off"></i> <span class="text">Log out</span>
        </a>
		<!--   SIDEBAR .//END   -->
	</aside>